.about-me-section {
    background-color: $lightergrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include respond-to('large') {
        padding: 50px;
    }
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    @include respond-to('medium') {
        padding: 50px;
    }

    .content {
        width: 60%;
    }

    .images {
        width: 40%;
    }

    .content,
    .images {
        @include respond-to('small') {
            width: 100%;
        }
    }
}

.content {
    span,
    p {
        line-height: 30px;
        padding-top: 20px;
    }

    span {
        font-family: $headerFont;
        font-weight: 700;
        line-height: 32px;
        font-size: 1.6rem;
        &:before {
            content: "";
            width: 100px;
            display: block;
            height: 2px;
            background-color: $darkgrey;
            margin-bottom: 20px;
        }
    }
    p {
        color: $mediumgrey;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 28px;
    }
}

.images {
    padding-left: 30px;
    position: relative;
    @include respond-to('small') {
        display: none;
    }

    .primary-image {
        height: 220px;
        width: 220px;
        position: absolute;
        z-index: 2;
        background-image: url(/assets/me.jpg)
    }
    .colour-box {
        height: 200px;
        width: 200px;
        position: absolute;
        top: 50px;
        left: 110px;
        background-color: $accentColour;
    }
}