footer {
	background-color: $darkgrey;
	color: $lightgrey;
	font-size: 0.8rem;

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
	}
}

.social-media {
	i {
		padding: 10px 15px;
		transition: all 0.5s;
		&:hover {
			color: $accentColour;
			transform: scale(1.2);
		}
	}
}
