body {
    font-size: 14px;
    color: $darkgrey;
    position: relative;
}

.main-header,
.about-me-section,
.portfolio-section, 
.skills-section,
.contact-section {
    min-height: 100vh;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

h1,
h2,
h3,
a,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
a {
    font-family: $headerFont;
}

h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 60px;
    font-weight: 700;
}


p,
span,
input,
li {
    font-family: $bodyFont;
}

a {
    text-decoration: none;
    color: $darkgrey;
}

li {
    list-style: none;
    color: $darkgrey;   
}
