ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;

    li {
        padding: 20px;
    }

    span {
        font-family: $bodyFont;
        display: block;
        margin-bottom: 15px;
        text-align: right;
        font-weight: 300;
    }

    a {
        text-transform: uppercase;
        border-top: 1px solid $mediumgrey;
        color: $mediumgrey;
        padding-top: 5px;
        font-size: 0.8rem;
        font-weight: 700;
        &:hover {
            color: $darkgrey;
            border-top: 1px solid $darkgrey;
        }
    }
}

.hero-section {
	position: relative;
	background-image: url(/assets/hero_image.JPG);
	background-size: cover;
	text-align: center;
	border: 1px solid $darkgrey;
	color: $white;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	 &:before {
	    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.4);
	}
    span {
        font-family: $bodyFont;
        font-style: italic;
        font-size: 1.4rem;
        letter-spacing: 5px;
    }
}