.portfolio-section {
    padding-top: 50px;
    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 50px;
        color: $darkgrey;
        &:before {
            content: "";
            width: 200px;
            display: block;
            height: 3px;
            background-color: $darkgrey;
            margin-bottom: 20px;
        }
        span {
            display: block;
        }
    }
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;

    .image,
    .description {
        width: 50%;
    }
    .description {
    	padding: 0 30px;
    }

    .description:nth-child(odd) {
    	text-align: right;
    }
}

.description {
	h3 {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 32px;
	}
	p,
	span {
		color: $mediumgrey;
		font-weight: 400;
		font-size: 0.9rem;
		line-height: 28px
	}

	span {
		font-family: $bodyFont;
		display: block;
		padding-top: 10px;
        font-size: 0.7rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $yellow;
	}

	a {
		text-transform: uppercase;
		display: inline-block;
		border: 1px solid $mediumgrey;
        color: $mediumgrey;
		margin-top: 10px;
		padding: 15px;
        transition: all 0.5s;   
        &:hover {
            background-color: $mediumgrey;
            color: $white;
        }
	}
}

.image {
	img {
		width: 90%;
	}
}
