.skills-section {
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: $lightergrey;
	@include respond-to('large')  {
	    padding: 50px;
	}
	@include respond-to('medium')  {
		padding: 80px;
	}
	@include respond-to('small')  {
		text-align: center;
	}

	h2 {
		font-size: 3.6rem;
		text-transform: uppercase;
		text-align: left;
		@include respond-to('small')  {
			text-align: center;
		}
		&:before {
		    content: "";
		    width: 200px;
		    display: block;
		    height: 3px;
		    background-color: $darkgrey;
		    margin-bottom: 20px;
		}
	}

	ul {
		margin-bottom: 50px;
		padding-left: 0;
	}

	li {
		padding: 20px;
		display: inline-block;

		span {
			display: block;
			font-family: $headerFont;
			font-size: 1rem;
			padding-top: 5px;
			text-align: center;
		}
	}

    .devicons {
        font-size: 80px;
    }
}