//FONTS
$headerFont: 'Montserrat', sans-serif;
$bodyFont: 'Merriweather', serif;

//COLOURS
$accentColour: #00CDA2;
$darkgrey: #333333;
$mediumgrey: #999999;
$lightgrey: #EEEEEE;
$lightergrey: #F7F7F7;
$white: #FFFFFF;
